<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Help</title>
</head>

<body>
<h1>配置</h1>

<form id="submit" method="post" action="/configure/">
    {% csrf_token %}
    <div id="input-id">
        输入密码<br>
        <input type="text" id="id" name="id">
    </div>

    <button id="begin">切换到人对AI模式</button>
</form>

<script language="JavaScript">
    document.getElementById("begin").onclick = function onBegin() {
        var userId = document.getElementById("id").value;
        if (userId.length === 0) {
            alert("请输入ID");
        } else {
            {#alert("你的ID为" + userId);#}
            document.getElementById("submit").submit();
        }

    }
</script>
</body>
</html>