<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录界面</title>
</head>

<body>
<h1>剪刀石头布博弈实验</h1>

<p>
请在工作人员宣布开始之后，再进行操作。
</p>

<form id="submit" method="post" action="/play/">
    {% csrf_token %}
    <div id="input-id">
        学号<br>
        <input type="text" id="id" name="id">
    </div>

    <button id="begin">登录</button>
</form>

<script language="JavaScript">
    document.getElementById("begin").onclick = function onBegin() {
        var userId = document.getElementById("id").value;
        if (userId.length === 0) {
            alert("请输入学号");
        } else {
            {#alert("你的学号为" + userId);#}
            document.getElementById("submit").submit();
        }

    }
</script>
</body>
</html>