<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>实验中</title>
    {#    TODO: use local <jquery></jquery>#}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    {#    {% load static %}#}
    {#    <script src="{% static 'rps/jquery.min.js' %}"></script>#}
</head>
<body>
<div>
    <h2>ID: {{ id }}</h2>
</div>

实验界面
<div class="history">
    历史对战记录
    <table border="1" id="history_table">
    </table>

</div>

<div id="next">
    <form method="post" action="/handon/" id="submit">
        {% csrf_token %}
        <label>策略:</label>
        <ul>
            <li>
                <label>R: 石头</label>
                <input type="radio" value="0" id="rock" name="action"/>
            </li>
            <li>
                <label>P: 布</label>
                <input type="radio" value="1" id="paper" name="action"/>
            </li>
            <li><label>S: 剪刀 </label>
                <input type="radio" value="2" id="scissors" name="action"/>
            </li>
        </ul>
        <input type="hidden" id="id" name="id" value="{{ id }}">
    </form>
    <button id="submit_button">提交</button>
    <p id="waiting">wait</p>

</div>

</body>

{% csrf_token %}
<script language="JavaScript">
    document.getElementById('submit_button').onclick = function () {

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        var r = document.getElementById("rock").checked;
        var p = document.getElementById("paper").checked;
        var s = document.getElementById("scissors").checked;
        if (!(r || p || s)) {
            alert("请输入你的决策");
        } else {
            $('#submit_button').hide();
            $('#waiting').text("等待下次决策中。。。");
            $.ajax({
                type: 'post',
                url: '/handon/',
                data: {
                    id: {{ id }},
                    action_r: r,
                    action_p: p,
                    action_s: s
                },
                success: function (json) {
                    var records = json['records'];
                    $('#history_table').empty();
                    $('#history_table').append("<tr>\n" +
                        "<th>轮数</th>\n" +
                        "<th>你的策略</th>\n" +
                        "<th>对手的策略</th>\n" +
                        "</tr>");
                    $.each(JSON.parse(records), function (i, record) {
                        var tr = "<tr>\n" +
                            "<th>" + record['count'] + "</th>\n" +
                            "<th>" + record['action1'] + "</th>\n" +
                            "<th>" + record['action2'] + "</th>\n" +
                            "</tr>";
                        $('#history_table').append(tr)
                    });
                    $('#submit_button').show();
                    $('#waiting').text("")

                }
            });
        }

    }

</script>

</html>